body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #1F4F0F;
    padding: 20px 10px;
    color: white;
}

.header-left {
    width: 80%;
}

.header-right {
    width: 20%;
}

.nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    transition: 0.3s;
}

.nav a:hover,
.nav a:focus {
    color: #1F4F0F;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

span {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .nav {
        visibility: hidden;
    }
}

@media screen and (min-width: 500px) {
    span {
        visibility: hidden;
    }
}

@media screen and (max-height: 450px) {

    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}